

.artist_login {
    display: block;
    margin-top: 20px;
}


.artist_login input{
    width: 350px;
    padding: 20px 15px 20px;
    background-color: white;
    color: #00ffff;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #00ffff;
    border-radius: 0;
}