/* Styling for the hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f4f4f9;
}

.hero-text {
  max-width: 50%;
}


.hero-text p {
  color: black;
}

.hero-text h1{
  margin-left: -236px;}
.hero-illustration img {
  max-width: 100%;
  height: auto;
}

.book-now-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.book-now-button:hover {
  background-color: #0056b3;
}


