

.artist_signup{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.artist_title{
    font-weight: bold;
    margin-top: 0px;
}

input {
    width: 350px;
    padding: 25px 15px 25px;
    background-color: white;
    color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}